<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/estilos.css" rel="stylesheet">
    <title>Jobify</title>
</head>
<body>
<h1><a href="/"><img src="/images/logo.png" alt="Logo-Jobify - Hugo Carvalho"></a></h1>

<p>We are Jobify - Join us!</p>