


<%- include('header') %>
<h2>JOBIFY - ADMINISTRADOR</h2>
<div>
    <ul>
    <li><a href="/admin/categoria"> Gerrenciar Categorias</a></li>
    <li><a href="/admin/vagas"> Gerrenciar vagas</a></li>
        
    </ul>
</div>


<%- include('footer') %>