<%- include('header') %> <!-- incluindo o cabeçalho(outro arquivo) nesta pagina -->
    
        
    
    <h2>JOBIFY - ADMINISTRADOR - NOVA Categoria:
        <a href="/admin/categoria"> Categoria</a>
    </h2>
    
    <div>
        <form method="POST">
            <label>Categoria:</label>
            <input type="text" name="categoria">
                        
            <br>
            <button>Salvar Vaga</button>
        </form>
        
    </div>
    
    
    <%- include('footer') %>